html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  background-color: rgb(226, 226, 226);
  font-family: 'Montserrat', sans-serif;
  word-break: break-word;
}