.section {
    margin: 10px 0;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #aaa;
}

.section__buttons {
    align-items: center;
    padding: 10px;
    text-align: right;
}

.section__button {
    background-color: white;
    color: teal;
    border: none;
    padding: 10px;
    transition: 0.5s;
}

.section__button:hover {
    color: rgb(0, 170, 170);
}

.section__button--endingAllTasksButton:disabled {
    color: #ccc;
    transition: none;
}

@media (max-width: 767px) {
    .section__buttons {
        display: grid;
        grid-template-rows: 1fr;
    }
}